.wraper{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}
p{
  font-size: large;
}
mat-card{
    width: 80%;
}

table.mat-table,
table {
  width: 100%;
}

.mat-paginator {
  display: initial;
}